*.box
*.vmdk
*.qcow2
.vagrant
datamodel/output
leafspine-report/output
output/
*.retry
backup/
packer-provisioner-build/packer_cache
packer-provisioner-build/iso
packer-provisioner-build/output-virtualbox-iso
packer-provisioner-build/output-qemu-qcow2
packer-provisioner-build/output-qemu-raw
packer-provisioner-build/output-qemu
packer-provisioner-build/output-provisioner-vbox
