*.box
*.vmdk
*.qcow2
.vagrant
datamodel/output
leafspine-report/output
output/
*.retry
backup/
packer-*-build/packer_cache
packer-*-build/iso
packer-*-build/output-virtualbox-iso
packer-*-build/output-qemu-qcow2
packer-*-build/output-qemu-raw
packer-*-build/output-vagrant-vbox
packer-*-build/output-vagrant-qemu
rsync.sh
