ddns-update-style none;

# option domain-name "example.org";

default-lease-time {{ default_lease_time }};
max-lease-time {{ max_lease_time }};
authoritative;
log-facility {{ log_facility }};

subnet {{ subnet }} netmask {{ netmask }} {
  range {{ dhcp_range_start }} {{ dhcp_range_end }};
  option domain-name-servers {{ domain_name_servers }};
  #option ipxe.no-pxedhcp 1;
  next-server {{ next_server }};
  filename "pxelinux.0";
  #filename "undionly.kpxe";
}

{% for pgroup in pinned_hosts %}

  {% if hostvars[pgroup] %}
    {% set hosts = [pgroup] %}
    {% include "./templates/dhcpd_fragment.conf.j2" %}
  {% else %}
    {% set hosts = groups[pgroup] %}
    {% include "./templates/dhcpd_fragment.conf.j2" %}
  {% endif %}

{% endfor %}
