ddns-update-style none;

# option domain-name "example.org";

default-lease-time {{ default_lease_time }};
max-lease-time {{ max_lease_time }};
authoritative;
log-facility {{ log_facility }};

subnet {{ subnet }} netmask {{ netmask }} {
  range {{ dhcp_range_start }} {{ dhcp_range_end }};
  option domain-name-servers {{ domain_name_servers }};
  #option ipxe.no-pxedhcp 1;
  next-server {{ next_server }};
  filename "pxelinux.0";
  #filename "undionly.kpxe";

  {% for host in groups[group] %}

  host {{ host }} {
    hardware ethernet {{ hostvars[host]['mac'] | regex_replace('^(.{2,2})(.{2,2})(.{2,2})(.{2,2})(.{2,2})(.{2,2})$', '\\1:\\2:\\3:\\4:\\5:\\6') | lower }};
    fixed-address {{ hostvars[host]['ansible_host'] }};
  }

  {% endfor %}

}
