#jinja2: lstrip_blocks: True
{% include "header.html" %}
{% for device in hostvars[inventory_hostname].groups['switches'] %}
{% include "output/report-" ~ device ~ ".html" %}
{% endfor %}
{% include "footer.html" %}
